/* Estilos para a página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    position: relative;
}

.card {
    max-width: 21cm;
    margin: auto;
    background-color: #01BAD2;
    padding-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'cursive';
    text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px; /* Experimente ajustar esse valor */
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
    margin: 10px;
}

@keyframes handwriting-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.instagram-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.instagram-text {
    font-weight: bold;
    color: #FFFFFF;
}

.instagram-link {
    text-decoration: none;
    color: #FFFFFF;
}

.instagram-link:hover {
    text-decoration: underline;
}

.instagram-logo {
    margin-right: 3px;
    color: #FFFFFF;
}

.logo-container {
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 160px;
    height: auto;
    z-index: 2;
    display: inline-block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

#overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

.card.open-animation {
    animation: openCard 1s forwards;
}

@keyframes openCard {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Adicione este estilo para centralizar e justificar o texto na sobreposição inicial */
#overlay h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

/* Estilo para o botão "Clique para começar a Ouvir!" */
#start-button {
    background-color: #01BAD2;
    color: #000000;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #0097B5;
}
